<table id="works-table" class="table table-bordered table-sm table-responsive" data-source="<%= works_path(format: :json) %>">
  <thead class="thead-dark">
    <tr>
      <th style="width: 30%">Title</th>
      <th style="width: 30%">Authors</th>
      <th style="width: 30%">Subjects</th>
      <th style="width: 10%"></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
