<div class="container">
  <%= render 'works/index_table' %>
</div>

<script>
  $(document).ready(function () {
    var $table = $('#works-table')

    $table.DataTable({
      processing: true,
      serverSide: true,
      ajax: $table.data('source'),
      pagingType: 'full_numbers',
      columns: [
        { data: 'title' },
        { data: 'authors' },
        { data: 'subjects' },
        { data: 'link' }
      ]
    })
  })
</script>
