
<img class="img-fluid my-2" src="/assets/historical-elc.jpg">

<p>
  The Easton Library Company Database focuses on making available for study
  the loan records of the Easton Library Company (ELC), a shareholding
  library that was the first public library in Pennsylvania's Lehigh Valley.
  Five folio-size loan ledgers, currently held at the <a href="#">Easton
  Area Public Library</a>, cover the ELC's entire history, 1811-1862, making
  the collection one of the most extensive pre-Civil War library archives
  in the nation. These records shed light on library history, literary
  history, social history, the history of Easton and Northampton County,
  and other fields of study.
</p>

<p>
  Transcription of the ledgers is still in progress by EXCEL research
  assistants, as is data collection on the ELC's holdings and patrons. As
  the database moves towards completion, an expanded team of librarians
  is developing powerful analytical and visualization tools to make the
  ELC's history an especially rich window into an early American library.
</p>
