<div class="loan-representative">
  <h6>Representative</h6>
  <p class="lead">
    <%= link_to presenter.representative.name, presenter.representative %>
  </p>
</div>

<div class="loan-shareholder">
  <h6>Shareholder</h6>
  <p class="lead">
    <%= link_to presenter.shareholder.name, presenter.shareholder %>
  </p>
</div>
